body {
    background-image: url(https://images.unsplash.com/photo-1677950876655-964c27d4026a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover; 
    font-family: playfair display, sans-serif; 
    background-position: bottom;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: none;
}

#description {
    text-align:center;
    margin-top: 40px;
    font-size: 30px;

}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#about-me {
    display: inline-block;
    background-color: #abd7eb;
    border-radius: 4px;
}

#about-me:hover {
    background-color: rgb(255, 255, 159);
}

.recipe {
    background-color: rgba(255, 255, 159, 0.25);
    text-align: center;
}

.recipe:hover {
background-color: #abd7eb;
}